<div class="sidebar">
  <img src="https://cdn.veeam.com/content/dam/veeam/global/go/projects/veeamon/img/general/ui/logo_veeam.svg" alt="Veeam Logo" />
  <a href="{{ url_for('login') }}">Login</a>
  <a href="{{ url_for('list_vcenters') }}">List vCenters</a>
  <a href="{{ url_for('list_repositories') }}">List Repositories</a>
  <a href="{{ url_for('list_jobs') }}">List Jobs</a>
  <a href="{{ url_for('list_object_restore_points') }}">Object Restore Points</a>
  <a href="{{ url_for('server_info') }}">Server Info</a>
  <div class="version-number">Version: 1.0.7</div>
</div>

