<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9Q9mlw" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Flask App{% endblock %}</title>
</head>
<body>
    {% include 'sidebar.html' %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="version-number" style="position: absolute; bottom: 10px; left: 15px;">
    v1.14
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>
